* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    width: 250px;
    display: block;
    margin: auto;
}

.header {
    margin: 1.2%;
} 
.nav-right {
background:rgb(211, 211, 211) ;
}
.nav-left ul, 
.nav-right ul {
    list-style: none;
}

.nav-left a, 
.nav-right a {
    text-decoration: none;
    display: block;
    padding: 9px;
    color: black;
}

.nav-left a:hover {
    background: rgb(219, 219, 219);
}

.nav-right a:hover {
    background: rgb(199, 199, 199);
}

@media screen and (min-width: 560px) {
    .header {
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
    }

    .nav-left ul {
        display: flex;
    }

    .nav-right ul {
        display: flex;
    }

    .nav-left {
        background: none;
    }

    .nav-left a, 
    .nav-right a {
        text-decoration: none;
        display: block;
        padding: 10px;
        color: black;
    }
}
/* Main */
.main {
    margin-top: 25px;
}
.main-left img {
    width: 300px;
    display: block;
    margin: auto;
}
.main-right {
    text-align: center;
}

@media (min-width: 960px) {
    .main {
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }

    .main-left img {
        width: 500px;
    }

    .main-right {
        margin: auto;
        text-align: left;
        margin-left: 30px;
    }

    .main-right h2 {
        margin-bottom: 5px;
        font-size: 30px;
    }

    .main-right p {
        font-size: 28px;
    }
}
/* product */

.display {
    margin-top: 3%;
    text-align: center;
}

.image img {
    width: 300px;
    display: block;
    margin: auto;
}

.produk-content {
    text-align: center;
    margin: 10px;
}

.deskripsi p {
    font-size: 15px;
}

@media (min-width: 560px) {
    .produk {
        width: 960px;
        margin: auto;
        display: flex;
    }

    .produk-content {
        height: 100px;
    }

    .image {
        height: 200px;
        width: 200px;
        justify-items: center;
    }
    .image img{
        width: 200px;
        display: block;
        margin: auto;
        justify-items: center;
    }
    .display {
        font-size: 30px;
    }
    .title {
        margin: auto;
        display: block;
    }
}